.ListPage {
  padding-bottom: 1.5rem!important;
}

.ListPage .list-group-item {
  position: relative;
  display: block;
  padding: 0.75rem 1.25rem;
  background-color: #000;
  border: 1px solid #ffffff;
  border-radius: 10px;
  transition: all 0.5s;
}

.ListPage .list-group-item:hover {
  transform: scale(1.1);
  background-color: #ffffff;
  border: 1px solid #000000;
  color:black;
}

.ListPage .list-group-item .delete {
  color: red;
  margin-left: 0.8em;
  font-size: 1.5em;
  line-height: 1em;
  position: relative;
  top: 2px;
}

.ListPage .list-group-item .delete:hover {
  color: darkred;
}

.drop-zone {
  height: 100%;
}
